# Node modules
node_modules/
 
# Build output
build/
dist/

# Environment variables
.env

# Firebase related files
firebase-debug.log
firebase-error.log

# MacOS
.DS_Store

# VS Code
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
*.iml

# Ignore other local editor or OS-specific files as needed
